@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Lacquer&family=Special+Elite&display=swap');
/* This is an arbitrary CSS string added to the bundle */
/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--display-font: "Lacquer", var(--font-family);
}

	/* Theme colors */
:root {

	--text-color: var(--text);
	
	--bio: url('/img/sketches/32bitme.png');
	--syntax-tab-size: 2;

 	--sidebar-bg: rgb(35, 33, 54);
  	--sidebar-text: rgb(224, 222, 244);
  	--color-content-bg: #faf4ed;
  	--color-content-text: #575279;
 	--rosewater: rgb(188, 112, 141);
  	--flamingo: rgb(214, 129, 125);
  	--pink: rgb(210, 112, 162);
  	--mauve: rgb(141, 141, 141);
  	--red: rgb(186, 113, 132);
  	--maroon: rgb(180, 99, 122);
  	--peach: rgb(221, 127, 103);
  	--yellow: rgb(209, 149, 72);
  	--green: rgb(91, 165, 123);
  	--teal: rgb(102, 158, 166);
  	--sky: rgb(40, 105, 131);
  	--sapphire: rgb(26, 125, 164);
  	--blue: rgb(40, 105, 131);
  	--lavender: rgb(154, 133, 174);
  	--text: rgb(87, 82, 121);
  	--subtext1: rgb(238, 101, 58);
  	--subtext0: rgb(12, 159, 206);
  	--overlay2: rgb(82, 82, 82);
  	--overlay1: rgb(204, 204, 204);
  	--overlay0: rgb(12, 159, 206);
  	--surface2: rgb(202, 193, 185);
  	--surface1: rgb(209, 201, 194);
  	--surface0: rgb(220, 211, 203);
  	--base: rgb(238, 230, 221);
  	--mantle: rgb(230, 219, 209);
  	--crust: rgb(221, 208, 198);
}



/* Global stylesheet */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	hr {

		height: 1px;
		background-color: var(--text);
		margin-bottom: 1.5rem;
	}

}

@view-transition {
	navigation: auto;
}

/* Headings */
h1 {
  font-family: special elite;
  color: var(--red);
}
h2 {
  font-family: special elite;
  color: var(--yellow);
}
h3 {
  font-family: special elite;
  color: var(--teal);
}
h4 {
  font-family: special elite;
  color: var(--sky);
}

/* Fonts */

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--display-font);
	font-size: 18px;
	color: var(--text);
	background-color: var(--sidebar-bg);
}

.site-logo,
.home-link,
.post-tag {
	font-family: "Lacquer", system-ui;
	color: var(--text);
}
html {
	overflow-y: scroll;
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
  border-radius: 8px; /* Optional: adds rounded corners to all images */
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}


p {
	margin-bottom: 1.5rem;
	display:block;
}

p:last-child {
	margin-bottom: 0;
}


li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--nav-text);
}

main :first-child {
	margin-top: 0;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	min-width: 0;
	min-height: 100vh;
}



.home-content {
	background-color: var(--crust);
	padding: 1.5rem;
	margin: 1rem;
	 background-image: radial-gradient(#b6aea5 15%, transparent 15%);
  background-size: 15px 15px;
  margin: 10px 10px 20px 10px;
	border-radius: 8px;
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.35rem 0.75rem;
	border-radius: 999px;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	font-style: normal;
	font-weight: 600;
	color: var(--crust);
	background-color: #eb6f92;
}

.post-tags .post-tag:nth-child(2n) {
	background-color: #f6c177;
}
.post-tags .post-tag:nth-child(3n) {
	background-color: #ea9a97;
}
.post-tags .post-tag:nth-child(4n) {
	background-color: #3e8fb0;
}
.post-tags .post-tag:nth-child(5n) {
	background-color: #9ccfd8;
}
.post-tags .post-tag:nth-child(6n) {
	background-color: #c4a7e7;
}

.post-tag:hover,
.post-tag:focus {
	background-color: #f6c177;
}

.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	list-style: none;
	padding-bottom: 1rem;;
	margin: 0;
}
.post-metadata time {
	margin-right: 0;
}

.post-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	color: var(--text);
}