/* Message Box */
.message-box {
	flexbox: 1 1 auto;
	--color-message-box: #2a273f;
	--color-message-box-text: #e0def4;

	display: block;
	width: calc(100% + 3rem);
	margin: -1.5rem -1.5rem 1.5rem;
	padding: 1em 1.5rem;
	background-color: var(--color-message-box);
	color: var(--color-message-box-text);
	box-sizing: border-box;
}

.message-box a,
.message-box a:visited {
	color: var(--color-message-box-text);
}

.message-box a:hover,
.message-box a:active {
	color: #c4b1ff;
}

.message-box ol {
	margin-top: 0;
}
