---js
const eleventyNavigation = {
	key: "04.01 books",
		parent: "04 media logs",
		order: 1
};
---
<h1>Journal Pages</h1>

<h1>My Library</h1>

{% set postslist = collections.books %}
{% include "postslist.njk" %}