---
layout: layouts/base.njk
permalink: /logs/books/
eleventyNavigation:
  key: 04.01 Books
  parent: 04 Logs
---
<h1>My Library</h1>

{% set postslist = collections.books %}
{% include "postslist.njk" %}