---
layout: layouts/base.njk
permalink: /logs/games/
eleventyNavigation:
  key: 04.02 Games
  parent: 04 Logs
---
<h1>My Library</h1>

{% set postslist = collections.games %}
{% include "postslist.njk" %}