---
layout: layouts/base.njk
permalink: /logs/
eleventyNavigation:
  key: 04 Logs
  order: 5
---

<h1>Media logs</h1>

<p>A log of the books, games, movies, TV, and music I've been working through.</p>

