---
layout: layouts/base.njk
permalink: /logs/media/
eleventyNavigation:
  key: 04.03 Movies & TV
  parent: 04 Logs
---
<h1>My Library</h1>

{% set postslist = collections.media %}
{% include "postslist.njk" %}