---
layout: layouts/base.njk
permalink: /logs/music/
eleventyNavigation:
  key: 04.04 Music
  parent: 04 Logs
---
<h1>My Library</h1>

{% set postslist = collections.music %}
{% include "postslist.njk" %}