<ol reversed class="postlist{% if postslistVariant == 'cartridges' %} postlist--cartridges{% endif %}" style="--postlist-index: {{ (postslistCounter or postslist.length) + 1 }}">
{%- for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link{% if postslistVariant == 'cartridges' %} postlist-link--cartridge{% endif %}">
			{% if postslistVariant == 'cartridges' %}
				<span class="visually-hidden">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</span>
				{% if post.data.coverImage %}
					<img src="{{ post.data.coverImage }}" alt="{{ post.data.title }}" class="postlist-cartridge-art">
				{% else %}
					<span class="postlist-cartridge-fallback">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</span>
				{% endif %}
			{% else %}
				{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
			{% endif %}
		</a>
		{% if postslistVariant != 'cartridges' %}
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		{% endif %}
	</li>
{%- endfor %}
</ol>
