{% if page.url == "/" or page.url == "/index.html" %}
<style>{% include "css/sticky-note.css" %}</style>
<h1> Current Obsessions </h1>
<div class="sticky-container">
  <div class="sticky-note">
    <h3> Reading:</h3>
    <p> the Black Company</p>
    <p> by Glenn Cook,</p>
        </div>
  <div class="sticky-note">
    <h3> Playing</h3>
    <p>Regions of Ruin: Runegate</p>
      </div>
  <div class="sticky-note">
             <h3> Watching:</h3>
             <p> Anime...lots of Anime. Currently Record of Lodoss War.</p>
          </div>
  <div class="sticky-note">
             <h3> Listening To:</h3>
          </div>
  </div>
{% endif %}
