<style> {% include "css/that-happened.css" %}</style>
<div class="that-happened">
<h2>So that happened...</h2>
<p>Welcome to “So that happened…” — a series of posts where I recount real conversations/exchanges I have with library patrons in an effort to record the absurdity that I sometimes encounter as a matter of course in my work. Names and details of these interactions are redacted/altered to protect the privacy of those individuals.</p>
<br>
<p>These can range from mildly absurd to unhinged and sometimes contain language and situations not suitable for all audiences. Reader discretion is advised.</p>
</div>