---
layout: layouts/base.njk
---

<main>

{% include "partials/_welcome.njk" %}
<div class="page">
<div class="content">

{% include "partials/_now-stickies.njk" %}

  {{ content | safe }}
</div>
</div>
</main>
